import mixins
extends layout

block append head
  link(type="text/css" href="stylesheets/ammap.css" rel="stylesheet")
  script(src="js/ammap.js" type="text/javascript")
  script(src="js/mexicoHigh.js" type="text/javascript")



block content
  .container


    .map

      script(src="js/drawMap.js")
      div(id="map" style="width: 100%; background-color:#ffffff; height: 500px;")
