doctype html
html
  head
  block head
    title='Red de Investigadores'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(rel='stylesheet', href='/stylesheets/flexslider.css')
    link(rel='stylesheet', href='/stylesheets/icomoon.css')
    link(rel='stylesheet', href='/stylesheets/style2.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Space+Mono')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Kaushan+Script')
    link(rel='icon', href='/images/icon.png')
  body
    block header

    nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top.text-nowrap
      .container
        a.navbar-brand(href='#')
          img.img-fluid(src='/images/icon.png', alt='Red de Investigadores' id='navbar-brand')
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        .collapse.navbar-collapse(id='navbarNav')
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/')
                strong Inicio
            form.form-inline(role='search' id='quick_search_form')
              .input-group
                .input-group-prepend
                  select.form-control(id='quick_search_type')
                    option(value='1') Todos
                    option(value='2') Personas
                    option(value='3') Institución
                input.form-control(required='required' type="text" placeholder='Busqueda rápida' id='quick_search_input' name='quick_search_input')
                .input-group-append
                  button.btn.btn-secondary(type='submit' id='quick_search_button') Buscar
           ul.navbar-nav
            if !isAuthenticated
              li.nav-item-mx-1
                a.nav-link(href='/acceso')
                    strong Iniciar Sesión
            if !isAuthenticated
              li.nav-item.mx-1
                a.nav-link(href='/registro')
                  strong Registrarse
            if isAuthenticated
              -var sanitizedName = reqUser.names.replace(/\W/g, '')
              li.nav-item.mx-1
                a.nav-link(href='/perfil/usuario/#{reqUser.id}/#{sanitizedName}')
                  strong Perfil
            if isAuthenticated
              li.nav-item.mx-1
                a.nav-link(href='/salir')
                  strong Salir


    block content

    block scripts
      script(src='/jquery/jquery.min.js')
      script(src='/popper/popper.min.js')
      script(src='/bootstrap/js/bootstrap.min.js')
      script(src='/js/jquery.min.js')
      script(src='/js/index.js')
      script(src='/js/jquery.easing.1.3.js')
      script(src='/js/jquery.waypoints.min.js')
      script(src='/js/jquery.stellar.min.js')
      script(src='/js/jquery.easypiechart.min.js')
      script(src='/js/main.js')
      script(type='text/javascript').
       $(document).ready(function(){
         $("#quick_search_form").submit(function(event) {
            var type = $("#quick_search_type").val();
            var search_title = encodeURIComponent($("#quick_search_input").val());
            $("#quick_search_button").attr("disabled", true);
            if (jQuery.trim(search_title) == "")
              return;
            if (type == 1)
              location.href = "/busqueda/busquedarapida/"+search_title;
            if (type == 2)
              location.href = "/busqueda/personas/"+search_title;
            if (type == 3)
              location.href = "/busqueda/institucion/"+search_title;
            event.preventDefault();
          });
       });
