doctype html
html
  head
  block head
    title='Red de Investigadores'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='icon', href='/images/icon.png')
  body
    block header
    .container-fluid
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='#')
          img.img-fluid(src='/images/icon.png', alt='Red de Investigadores')
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        .collapse.navbar-collapse(id='navbarNav')
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href='/')
                button.btn.btn-primary(type='button')
                  strong Inicio
                  span.sr-only (current)
            if !isAuthenticated
              li.nav-item
                a.nav-link(href='/acceso')
                  button.btn.btn-primary
                    strong Iniciar Sesión
            if !isAuthenticated
              li.nav-item
                a.nav-link(href='/registro')
                  button.btn.btn-primary
                    strong Registrarse
            if isAuthenticated
              li.nav-item
                a.nav-link(href='/perfil')
                  button.btn.btn-primary
                    strong Perfil
            if isAuthenticated
              li.nav-item
                a.nav-link(href='/salir')
                  button.btn.btn-primary
                    strong Salir


    block content

    block scripts
      script(src='/jquery/jquery.min.js')
      script(src='/bootstrap/js/bootstrap.min.js')
      script(src='/popper/popper.min.js')
      script(src='/js/index.js')
