doctype html
html
  head
    title='Red de Investigadores'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
    link(rel='icon', href='/images/icon.png')
  body
    block content

    block scripts
      script(src='jquery/jquery.slim.min.js')
      script(src='/bootstrap/js/bootstrap.min.js')
      script(src='popper/popper.min.js')
      script(src='/js/jquery.min.js')
      script(src='/js/jquery.maphighlight.min.js')
      script(src='/js/map.js')
