extends layout

block content
    .container  
        .row 
            .col.bg-light.col-lg-2
                h1
                    span #{name}
            .col-md-auto
                p ( ͡° ͜ʖ ͡°)
                a.btn.btn-primary(href='/') Inicio

