extends layout

block content
    if errors
        .container
            .alert.alert-danger
                for error in errors
                  p #{error.msg}

    .container
        h5 Registrarse
        form(action="/registro" method="post" id='signUpForm')
            div.modal-body
            .form-group
                label.col-form-label(for='names') Nombres
                input.form-control(type='text' id='names' name="names")
            .form-group
                label.col-form-label(for='lastNames') Apellidos
                input.form-control(type='text' id='lastNames' name="last_names")
            .form-group
                label.col-form-label(for='email') E-mail
                input.form-control(type='email' id='email' name="email")
            .form-group
                label.col-form-label(for='password') Contraseña
                input.form-control(type='password' id='password' name='password')
            .form-group
                label.col-form-label(for='passwordMatch') Confirmar contraseña
                input.form-control(type='password' id='passwordMatch' name='passwordMatch')
            .form-group
                label.col-form-label(for='accountType') Tipo de cuenta
                br
                label.radio-inline
                    input(type='radio', value='student', name='accountType')
                    span Estudiante
                br
                label.radio-inline
                    input(type='radio', value='researcher', name='accountType')
                    span Investigador
                br
            a.btn.btn-secondary(href='/') Cancelar
            button.btn.btn-primary(id='signUpButton' type='submit') Registrarse
